 <!-- Main Navigation Bar-->
 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(34, 33, 33)">
  <a class="navbar-brand" routerLink="/">
  <!-- Icon/Logo for the website - with initials B and P -->
      <img src="assets/images/logo.png" width="35" height="35" class="d-inline-block align-top" alt=""> PORTFOLIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
     <!-- Navigation bar with links to 5 different pages - Home, About, SProjects, Services and Contact -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

       <li class="nav-item">

              <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="fa fa-lg fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>



          <li class="nav-item">

              <a class="nav-link" routerLink="/about" routerLinkActive="active"><i class="fa fa-lg fa-user-circle"></i> About</a>
          </li>


          <li class="nav-item">

              <a class="nav-link" routerLink="/projects" routerLinkActive="active"><i class="fa fa-lg fa-tasks" aria-hidden="true"></i> Projects</a>
          </li>


            <li class="nav-item">

              <a class="nav-link" routerLink="/services" routerLinkActive="active"><i class="fa fa-lg fa-cogs"></i> Services</a>
          </li>


          <li class="nav-item">

              <a class="nav-link" routerLink="/contact" routerLinkActive="active"><i class="fa fa-lg fa-phone-square"></i> Contact</a>
          </li>
      <!--
          <% if(typeof displayName == 'string' && displayName) { %>
            <li class="navbar-text"><i class="fas fa-lg fa-user"></i>
       -->

            <li class="nav-item"><a routerLink="/logout" routerLinkActive="active" class="nav-link">
              <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>

            <li class="nav-item"><a routerLink="/login" routerLinkActive="active" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>

      </ul>
  </div>
</nav>
