 <!-- Main Navigation Bar-->
 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(34, 33, 33)">
  <a class="navbar-brand" routerLink="/">
  <!-- Icon/Logo for the website - with initials B and P -->
      <img src="assets/images/logo.png" width="35" height="35" class="d-inline-block align-top" alt=""> PORTFOLIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <li *ngIf="isLoggedIn()" class="navbar-text text-white mr-5 d-none d-lg-inline">
        <button class="btn btn-outline-secondary active" style="background-color:rgb(34, 33, 33)" aria-pressed="true"><i class="fas fa-lg fa-id-badge"></i> Welcome, {{ user.displayName }}</button></li>

     <!-- Navigation bar with links to 5 different pages - Home, About, SProjects, Services and Contact -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

       <li class="nav-item">

              <a class="nav-link" routerLink="/"><i class="fa fa-lg fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>



          <li class="nav-item">

              <a class="nav-link" routerLink="/about"><i class="fa fa-lg fa-user-circle"></i> About</a>
          </li>


          <li class="nav-item">

              <a class="nav-link" routerLink="/projects"><i class="fa fa-lg fa-tasks" aria-hidden="true"></i> Projects</a>
          </li>


            <li class="nav-item">

              <a class="nav-link" routerLink="/services"><i class="fa fa-lg fa-cogs"></i> Services</a>
          </li>


          <li class="nav-item">

              <a class="nav-link" routerLink="/contact"><i class="fa fa-lg fa-phone-square"></i> Contact</a>
          </li>

            <li *ngIf="isLoggedIn()" class="nav-item"><a (click)="onLogoutClick()" routerLink="/logout" class="nav-link">
              <i class="fas fa-lg fa-sign-out-alt" style="color:brown"></i> Logout</a></li>

              <li *ngIf="!isLoggedIn()" class="nav-item"><a routerLink="/login" class="nav-link">
                <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>

                </ul>
  </div>
</nav>
